<head><link rel="stylesheet" href="/css/about-style.css"></head>
<body>
    <div class="hero">
    <img src="{{hero5}}" alt="hero-image">
</div>
<div class="center-info">

        <header class='about-header'><h1><strong>About Us</strong></h1></header>
        <div class='about'>

    <label for="CRN"><a href="/certs/COR14.3-RegCert.pdf" target="_blank">Company Registration Number: 2018/292055/07</a></label>
<div name='CRN'><embed src="/certs/COR14.3-RegCert.pdf" width='100%' height="200"></embed>
</div>

<label for="BEE"><a href="/certs/BEE.pdf" target="_blank">LEVEL1 Contributor in terms of the B-BBEE
Codes, 100% Black Femaled owned</a></label>
<div name='BEE'><embed src="/certs/BEE.pdf" width='100%' height="200"></embed>
</div>

    <label for="COIDA"><a href="/certs/LOGS-AtlanticCoreProjects.pdf" target="_blank">COIDA Registration Number: 990001151811</a></label>
<div name='COIDA'><embed src="/certs/LOGS-AtlanticCoreProjects.pdf" width='100%' height="200"></embed>
</div>

<ul>CIDB CRN: 10174616 Grade: 1GB & 1CE</ul>
<ul> Registration Number: MAAA0644892</ul>

</div>
   
</body>