<head><link rel="stylesheet" href="/css/about-style.css"></head>
<body>
    <div class="hero">
    <img src="{{hero5}}" alt="hero-image">
</div>
<div class="center-info">

        <header class='about-header'><h1><strong>About Us</strong></h1></header>
        <div class='about'>
    <ul>Company Registration Number: 2018/292055/07</ul>
<ul>LEVEL1 Contributor in terms of the B-BBEE
Codes, 100% Black Femaled owned.</ul>
<ul>COIDA Registration Number: 990001151811</ul>
<ul>CIDB CRN: 10174616 Grade: 1GB & 1CE</ul>
<ul> Registration Number: MAAA0644892</ul>

</div>
   
</body>