<head><link rel="stylesheet" href="/css/contact-style.css"></head>
<body>
    <div class="hero">
    <img src="{{hero6}}" alt="hero-image">
</div>
<div class="center-info">

        <header class='contact-header'><h1><strong>Contact Us</strong></h1></header>
        <div class='contact'>
<h3>Contact us for a free quotation:</h3>
<ul><i class='fas fa-phone'></i> Junaid (+27) 76 205 9117 </ul>
<ul><i class='fas fa-phone'></i> Zaynu (+27) 65 9034562  </ul>
<ul><i class='fas fa-envelope'></i> Email: info@atlanticcoreprojects.co.za </ul>

        </div>
    

</div>
</body>