<head>    <link rel="stylesheet" href="/css/home-style.css"></head>
<body>
    <div class="hero">
    <img src="{{hero1}}" alt="hero-image">
</div>
<div class="center-info">

        <header class='home-header'><h1><strong>Atlantic Core Projects</strong></h1></header>
        <div class='overview'><p>Hard work with an uncompromising commitment to our trade,
combined with dedication to deliver top quality, honest & reliable
services, has earned us a reputation in the construction industry. We
provide specialized, precise, efficient concrete core drilling services
with the quickest turn around times at the most affordable rates. Our
experienced teams and flexible working hours allows us to offer our
clients 24/7 support.</p></div>
    

</div>
   
</body>