<head><link rel="stylesheet" href="/css/projects-style.css"></head>
<body>
    <div class="hero">
    <img src="{{hero3}}" alt="hero-image">
</div>
<div class="center-info">
 <header class='projects-header'><h1><strong>Projects</strong></h1></header>
 <div class='projects'>
    <p><strong>We have worked on numerous projects throughout Cape Town. Some of our past projects include but not limited to:</strong></p>
    <li> 82 Harfield – Rawson Developers</li>
    <li>My Domian – ER Plumbing</li>
    <li>Stellenbosch Mediclinic – Grinstead Plumbing
</li>
    <li>Fountain Road – Isipani Construction
</li>
    <li>Kings Road – GridCo Construction
</li>
    <li>Groote Schuur Hospital – Gossow & Harding Construction
</li>
    <li>Red Cross Children’s Hospital – Fairdeal Plumbing</li>
    </div>
</div>
   
</body>