<body>
    <div class="hero">
    <img src="{{hero2}}" alt="hero-image">
    <h6>Photo by rawpixel on Unsplash _ holes</h6>
</div>
<div class="center-info">
    <div class="left-text seven columns"><h1>text here</h1></div>
    <div class="right-text five columns"><h1>text here</h1></div>
</div>
   
</body>