<head><link rel="stylesheet" href="/css/services-style.css"></head>
<body>
    <div class="hero">
    <img src="{{hero2}}" alt="hero-image">
   
</div>
<div class="center-info">
 <header class='services-header'><h1><strong>Services</strong></h1></header>
 <div class='services'>
     <ul><strong>Core Drilling:</strong></ul>
     <p>Core drilling is used to create holes for pipes, manholes, and other large-diameter penetrations in reinforced concrete, cinderblock and other structural materials. Sizes can range from 25mm - 500mm diameter in diameter.</p>
     
     <ul><strong>Stitch Drilling:</strong></ul>
     <p>Stitch Drilling can be used to create large openings and slots in walls or in floors particularly so in areas where access is difficult or restricted. Stitch drilling uses a series of overlapping core holes to create the opening required. It is often used when other drilling methods won't achieve the required outcome.</p>
     
     <ul><strong>Plastering</strong></ul>
     
    <ul><strong>Skimming</strong></ul>
    
     <ul><strong>Building Brickwork</strong></ul>

     <ul><strong>Painting</strong></ul>

    <ul><strong>Tilling</strong></ul>

    <ul><strong>General Maintenance</strong></ul>
    
     
     
    </div>
</div>
   
</body>