.about-header{
        text-align:center;
        font-size:1.5em;
}

.about ul{
    font-style: italic;
    padding-left:15px;
    font-weight: bold;
}

.about label{
    text-align:center;
}

.about a{
    color:gray;
}

.about a:hover{
    color:blue;
}