.logo {
text-align:center;
}

#logoImage{
    width: 250px;
    height: 200px;
}


.nav-bar {
    width: 100%;
    background: grey;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
  text-decoration-color: grey; 
}

.nav-bar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color:black;
    text-decoration-color: white;
}

    #homeActive{
        color: black;
        text-decoration: underline;
        text-decoration-color: black; 
    }

    #servicesActive{
        color: black;
        text-decoration: underline;
        text-decoration-color: black; 
    }

    #projectsActive{
        color: black;
        text-decoration: underline;
        text-decoration-color: black; 
    }

    #galleryActive{
        color: black;
        text-decoration: underline;
        text-decoration-color: black; 
    }

    #aboutUsActive{
        color: black;
        text-decoration: underline;
        text-decoration-color: black; 
    }

    #contactUsActive{
        color: black;
        text-decoration: underline;
        text-decoration-color: black; 
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
   
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color:blue;
}

.dropdown:hover .dropdown-content {
    margin-top:40px;
    display: block;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

body {
    background-repeat:no-repeat;
    background-position: center bottom;
    
}

.hero{
  height: 400px;
}

.hero img{
width: 100%;
height:100%;
}

.center-info{
    margin-top:30px;
    background-color:#dbd9d8;
    height: 100%;
}


.hero h6{
    text-align :center;
    color:black;
    margin-top: -30px;
    margin-right:-600px;
}

footer {
    position: relative;
    display:block;
    width: 100%;
    height:100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top:15px;
}

.bottom footer{
    padding-top:20px;
}

.footer-one{
    position: relative;
    display: inline-block;
    width:25%;
left:-10%;
}

.footer-two{
    position: relative;
    display: inline-block;
    width:25%;
left:0%;
}

.footer-three{
    position: relative;
    display: inline-block;
    width:25%;
left:10%;
}

.facebook i{
    background-color:#3b5998;
    width:50px;
    color: white;
    border-radius:50%;
    padding:10px;
}

.facebook i:hover{
background-color:#dbd9d8;
color:#3b5998;
}

@keyframes rotate-in{
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(90deg);}
}

@keyframes rotate-out{
    from {transform: rotateZ(90deg);}
    to {transform: rotateZ(0deg);}
}

.dropdown:hover i{
    animation: rotate-in 0.2s linear forwards;
    
}

.dropdown i{
    animation: rotate-out 0.2s linear forwards;
    
}